.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav .profile {
  display: flex;
  height: 60px;
  width: 225px;
  padding-left: 25px;
}
.nav .profile img {
  width: 100%;
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .profile p {
  margin-top: 18px;
  white-space: nowrap;
}
.nav .menu {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}
.nav .menu .burger {
  display: none;
  position: relative;
  font-size: 25px;
}
.nav .menu .burgerDeploy {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 25px;
  right: -250px;
  transition: right 0.3s ease-in-out;
  background-color: black;
  padding: 25px 50px 25px 25px;
}
.nav .menu .burgerDeploy .menuB {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav .menu .activeB {
  right: -50px;
}
.nav .menu .menuel {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.nav .menu .menuel::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: #00ffff;
  transition: transform 250ms;
}
.nav .menu .menuel:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.nav .menu .propos-bas {
  display: none;
}

.backimg {
  background-image: url("../Images/photo-fond-noir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.accueil {
  display: flex;
  flex-direction: column;
}

.test {
  height: 100vh;
}

.banniere {
  margin-bottom: 10px;
}
.banniere img {
  width: 100%;
  height: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.banniere h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 55px;
  max-width: 780px;
  min-width: 408px;
}

.main {
  margin-top: 60px;
  display: grid;
  padding-top: 10px;
  grid-template-rows: 670px 780px;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
}
.main h2 {
  font-size: 30px;
  color: white;
}
.main .propos-mini {
  background-image: linear-gradient(200deg, #19323c 70%, #5d2323 100%) !important;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-left: 30px;
  gap: 20px;
  color: white;
  position: relative;
}
.main .propos-mini p {
  margin: 0px 30px 0px 30px;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 80px;
}
.main .propos-mini .vpConteiner {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
}
.main .propos-mini .vpConteiner .voirPlus {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.main .propos-mini .vpConteiner i {
  font-size: 30px;
}
.main .competence {
  background-image: linear-gradient(146deg, #19323c 70%, #5d2323 100%) !important;
  grid-row: 1/2;
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  margin-right: 30px;
}
.main .competence .comp-conteiner {
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  row-gap: 30px;
}
.main .competence .comp-conteiner .comp-item {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 250px;
  width: 45%;
  border-radius: 20px;
  position: relative;
  transition: transform 0.3s;
}
.main .competence .comp-conteiner .comp-item:hover {
  transform: scale(1.1);
}
.main .competence .comp-conteiner .comp-item h3 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  border-bottom: 3px solid #d42126;
  white-space: nowrap;
  text-align: center;
}
.main .competence .comp-conteiner .comp-item .contenue {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .competence .comp-conteiner .comp-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  padding-left: 15px;
}
.main .competence .comp-conteiner .comp-item .cont-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .competence .comp-conteiner .comp-item .cont-text p {
  margin: 0;
}
.main .competence .comp-conteiner .comp-item .cont-text h4 {
  color: #d42126;
  font-size: 18px;
  margin: 0;
}
.main .ancre3 {
  height: 1px;
  transform: translateY(-60px);
}
.main .realisations {
  grid-row: 2/2;
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  color: white;
  background-image: linear-gradient(146deg, #19323c 31%, #5d2323 100%) !important;
  padding-bottom: 30px;
}
.main .realisations h2 {
  margin-top: 10px;
}
.main .realisations .rea-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
}
.main .realisations .rea-conteiner .rea-item {
  position: relative;
  background-color: white;
  height: 600px;
  width: 600px;
  border-radius: 20px;
}
.main .realisations .rea-conteiner .rea-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}
.main .realisations .rea-conteiner .rea-item .overlay {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7058823529);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.main .realisations .rea-conteiner .rea-item .overlay a {
  color: white;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}
.main .realisations .rea-conteiner .rea-item .overlay a:hover {
  text-decoration: underline;
}
.main .realisations .rea-conteiner .rea-item:hover .overlay {
  display: flex;
  opacity: 1;
}

.secontact {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 10%;
}
.secontact img {
  width: 30%;
  max-width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.secontact .contact {
  width: 600px;
}
.secontact .contact .formular {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.secontact .contact .formular .names {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.secontact .contact .formular .names .form-lastname {
  width: 100%;
}
.secontact .contact .formular .names .form-firstname {
  width: 100%;
}
.secontact .contact .formular .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.secontact .contact .formular .form-control {
  padding: 10px;
  border-radius: 15px;
}
.secontact .contact .formular .message {
  padding-bottom: 40px;
}
.secontact .contact .formular button {
  padding: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  max-width: 250px;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.secontact .contact .formular button:hover {
  color: white;
  background-color: black;
}
.secontact .contact .formular button:active {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h4 {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.propos-page {
  height: calc(100vh - 160px);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin-top: 60px;
}
.propos-page .txt {
  width: 800px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  background-image: linear-gradient(146deg, #19323c 70%, #5d2323 100%) !important;
  border-radius: 20px;
  overflow: auto;
  position: relative;
}
.propos-page .txt::-webkit-scrollbar {
  width: 10px;
}
.propos-page .txt::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.propos-page .txt h1 {
  margin: 0;
}
.propos-page .txt p {
  font-size: 17px;
  text-align: justify;
  line-height: 1.5;
}
.propos-page .txt .basDeText {
  margin-bottom: 50px;
}
.propos-page .txt button {
  border-radius: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.propos-page .txt button:hover {
  color: white;
  background-color: black;
}
.propos-page img {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.erreur {
  height: calc(100vh - 100px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.err2 {
  color: white;
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  background: linear-gradient(200deg, #19323c 70%, #5d2323 100%);
}

.err2:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .nav .menu {
    gap: 0px;
  }
  .nav .menu .propos-haut {
    display: none;
  }
  .nav .menu .propos-bas {
    display: flex;
  }
  .banniere h1 {
    font-size: 50px;
  }
  .main {
    grid-template-rows: 670px auto auto;
    grid-template-columns: 1fr;
  }
  .main .propos-mini {
    grid-row: 3/3;
    grid-column: 1/1;
    margin-right: 30px;
  }
  .main .competence {
    grid-row: 1/3;
    grid-column: 1/1;
    max-height: 670px;
    margin-left: 30px;
  }
  .main .realisations {
    grid-row: 2/3;
    grid-column: 1/1;
  }
  .main .realisations .rea-conteiner {
    gap: 30px;
  }
}
@media (max-width: 1060px) {
  .nav .menu .menuel {
    display: none;
  }
  .nav .menu .burger {
    display: flex;
    cursor: pointer;
  }
}
@media (max-width: 1000px) {
  .secontact img {
    display: none;
  }
  .propos-page {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
  }
  .propos-page .txt {
    width: 85%;
  }
}
@media (max-width: 900px) {
  .banniere h1 {
    max-width: 400px;
    min-width: 320px;
    font-size: 35px;
  }
  .main {
    grid-template-rows: 1200px auto auto;
    grid-template-columns: 100%;
  }
  .main .propos-mini {
    margin-left: 15px;
    margin-right: 15px;
  }
  .main .propos-mini p {
    font-size: 17px;
  }
  .main .competence {
    max-height: 1200px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .main .competence .comp-conteiner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .main .competence .comp-conteiner .comp-item {
    width: 90%;
  }
  .main .realisations .rea-conteiner .rea-item {
    width: 95%;
    max-width: 600px;
    height: auto;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */